@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: #FCFCFC;
  /* padding-bottom: 100px; */
}
.first-container {
  width: 100%;
  /* max-width: 1440px; */
  margin-left: auto;
  margin-right: auto;
}
.second-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.primary-button {
  background-color: #00C49C;
  border-radius: 14px;
  padding: 20px 32px 20px 32px;
  cursor: pointer;
  width: 203px;
  height: 52px;
}
.set-bg {
  background-image: url(./images/buttom-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  width: 100%;
  max-width: 1440px;
}
.channel-section-bg {
  background-image: url(./images/channelpage-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1202px;
  width: 100%;
  max-width: 1440px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bg-section {
  background-image: url(./images/bg-section.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ctv-map-bg {
  background-image: url(./images/ctv-map-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  height: 616px;
  margin-right: auto;
  margin-left: auto;
}
.audio-map-bg {
  background-image: url(./images/audio-map-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  height: 356px;
  margin-right: auto;
  margin-left: auto;
}
.logos-bg {
  background-image: url(./images/ctv-logo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  height: 512px;
  margin-right: auto;
  margin-left: auto;
}
.car-name-logo-bg {
  background-image: url(./images/car-name-log-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  height: 660px;
  margin-right: auto;
  margin-left: auto;
}
.howitworks-bg {
  background-image: url(./images/howitworks-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  height: 3719px;
  margin-right: auto;
  margin-left: auto;
}
/* .gradient-bg {
  border-radius: 24px;
  background: linear-gradient(180deg, #f0faf8 0%, #d9fcf8 100%);
}
.gradient-text {
  background: linear-gradient(127deg, #00c49c 0%, #1e71a3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -1.6px;
}

.resource-started-bg {
  background-image: url(./images/resourse-bottomtwo-sec-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}

.commonbg-second {
  border-radius: 14px;
  background-color: #ebf7ff;
  width: 100%;
  max-width: 534px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
} */
