@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: #fcfcfc;
  /* padding-bottom: 100px; */
}
.first-container {
  width: 100%;
  /* max-width: 1440px; */
  margin-left: auto;
  margin-right: auto;
}
.second-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.primary-button {
  background-color: #00c49c;
  border-radius: 14px;
  padding: 20px 32px 20px 32px;
  cursor: pointer;
  width: 203px;
  height: 52px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.primary-button:hover {
  opacity: 80%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.set-bg {
  /* right: 0; */
  background-color: #f2f7fa;
  background-image: url(./images/index-buttom-section-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  /*
  background-size: cover;
  max-width: 1440px; */
  height: 820px;
}
.channel-section-bg {
  background-color: #f2f7fa;
  background-image: url(./images/channelpage-bgone.png), url(./images/channelpage-bgtwo.png);
  background-repeat: no-repeat;
  height: 1202px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-position: left bottom, top right;
  flex-direction: column;
  align-items: center;
}
.bg-section {
  background-image: url(./images/bg-section.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ctv-map-bg {
  background-image: url(./images/ctv-map-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  height: 616px;
  margin-right: auto;
  margin-left: auto;
}
.audio-map-bg {
  background-image: url(./images/audio-map-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 1200px;
  height: 356px;
  margin-right: auto;
  margin-left: auto;
}
.logos-bg {
  background-color: #f2f7fa;
  background-image: url(./images/ctv-logo-bg.png);
  height: 512px;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
}
.car-name-logo-bg {
  background-color: #f2f7fa;
  background-image: url(./images/car-name-log-bg.png);
  background-repeat: no-repeat;
  height: 660px;
  background-position: right top;
  width: 100%;
}
.howitworks-bg {
  background-position: right bottom , top 513px right , left center;
  background-image: url(./images/howitworks-image-three.png), url(./images/howitworks-image-one.png) , url(./images/howitworks-image-two.png);
  background-color: #f2f7fa;
  background-repeat: no-repeat;
  width: 100%;
  height: 3719px;
}
#video-id {
  position: absolute;
  top: 19px;
  right: 22px;
}
.button-classes {
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 190px;
  width: 670px;
  right: 15px;
}